[submodule "crates/mr-imp/vend/rs-async-mrs"]
	path = crates/mr-imp/vend/rs-async-mrs
	url = git@github.com:Waridley/rs-async-mrs.git
[submodule "vend/freya"]
	path = vend/freya
	url = git@github.com:Waridley/freya.git
